
.heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 1.5rem;
}


.quiz {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
   margin-block:8em;
   height: 80vh;
}

.block {
    padding-block: 8em;
    padding-inline: 10em;
    border: 10px solid white;
    background-color: white;
    color: black;
    margin: 20px;
    border-radius: 15px;
    font-family: 'Ariel', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* values in the box-shadow property are, the horizontal offset, vertical offset, blur radius, and color of the shadow */

}

.row {
    display: flex;
    flex-direction: row;

}