body {
  background-image: linear-gradient(95deg, hsl(242, 53%, 34%) 0%, hsl(195, 51%, 54%) 40%, hsl(276, 21%, 55%) 94%, hsl(262, 20%, 49%) 100%);
  background-size: 300%;
  animation: bg-animation 9s infinite alternate;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: ghostwhite;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        

        header {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 10px;
        }

        h1 {
          
            text-align: left;
            margin: 0;
        }

        table {
          color: rgb(0, 0, 0);
          border-style:solid;
          border-radius: 10px;
          min-width: 95vw;
          margin: 2em auto;
          border-color: white;
          border-width: 1px;
          background-color: white;

            border-spacing: 10px;
            text-align: center;
            margin: auto;
        }

        th, td {
          border-color: white;
            
        }
/*from curiosity repository*/
.heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 1.5rem;
}


.quiz {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
   margin-block:8em;
   height: 80vh;
}

.block {
    padding-block: 8em;
    padding-inline: 10em;
    border: 10px solid white;
    background-color: white;
    color: black;
    margin: 20px;
    border-radius: 15px;
    font-family: 'Ariel', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* values in the box-shadow property are, the horizontal offset, vertical offset, blur radius, and color of the shadow */

}

.row {
    display: flex;
    flex-direction: row;

}
/*for links given on top*/
a:link,a:visited {
            color: black;
            text-decoration: none;
        }

        a:hover, a:active {
             background-color: black;
             color: white;
        } 
/*Made a different class for the hyperlinks in topic page*/
.linked:link,.linked:visited {
  font-weight: bold;
  color: blue;
}

.linked:hover {

  color: red;
}
/*Trying to make the embedded video and links side by side*/
.gridcontainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: ;
}

div{
  background-color: white;
  border-radius: 10px;
}