body {
  background: linear-gradient(-45deg, #01092f, #0c1e91, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: ghostwhite;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        

        header {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 10px;
        }

        h1 {
            display: flex;
            text-align:center;
            margin: 0;
        }

        table {
          color: rgb(0, 0, 0);
          border-style:solid;
          border-radius: 10px;
          min-width: 95vw;
          margin: 2em auto;
          border-color: white;
          border-width: 1px;
          background-color: white;

            border-spacing: 10px;
            text-align: center;
            margin: auto;
        }


        th, td {
          border-color: white;
            
        }
        
        th:hover {
          background-color: rgb(65, 118, 250);
          border-radius: 10px;
        }
/*gradient animation*/
        @keyframes gradient {
          0% {
            background-position: 0% 50%;
          }
          50% {
            background-position: 100% 50%;
          }
          100% {
            background-position: 0% 50%;
          }
        }

        
/*from curiosity repository*/
.heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 1.5rem;
}


.quiz {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
   margin-block:8em;
   height: 80vh;
}

.block {
    padding-block: 8em;
    padding-inline: 10em;
    border: 10px solid white;
    background-color: white;
    color: black;
    margin: 20px;
    border-radius: 15px;
    font-family: 'Ariel', sans-serif;
    box-shadow: 0 0 10px rgba(0, 157, 255, 0.3); /* values in the box-shadow property are, the horizontal offset, vertical offset, blur radius, and color of the shadow */

}

.block:hover{
  padding-block: 8em;
    padding-inline: 10em;
    border: 10px solid rgb(8, 8, 91);
    background-color: white;
    color: black;
    margin: 10px;
    border-radius: 15px;
    font-family: 'Ariel', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
}

.row {
    display: flex;
    flex-direction: row;

}
/*for links given on top*/
a:link,a:visited {
            color: black;
            text-decoration: none;
        }

        a:hover, a:active {
             
             color: white;
        } 
/*Made a different class for the hyperlinks in topic page*/
.linked:link,.linked:visited {
  font-weight: bold;
  color: rgb(7, 7, 88);
}

.linked:hover {
  
  color: rgb(14, 2, 48);;
}

.web:link,.linked:visited {
  font-weight: bold;
  color: rgb(7, 7, 88);
}

.web:hover {
  
  color: rgb(255, 255, 255);;
  background-color: rgb(7, 7, 87);
  
}

/*Trying to make the embedded video and links side by side*/
.gridcontainer > div {
  border: 2px solid gray;
  border-radius: 5px;
  background-color: white;
  padding: 1em;
  color: rgb(2, 13, 67);
}

.gridcontainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

div{
  
  border-radius: 10px;
}


img{
  width: 1366px;height: 500px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

